# Copy this file to .env or just set these environment variables,
# after removing all the empty lines and comments.

# development or production
export NODE_ENV="development"

# default nimble.webmaker.org port is 8003
export PORT=8003

export ENABLE_GELF_LOGS=false

# What is our fully qualified login API access point?
export LOGINAPI="http://testuser:password@localhost:3000"

# Where can we find the login API endpoint
export LOGIN="http://localhost:3000"

# And a cookie secret
export SESSION_SECRET="dummy secret value"

# Key namespace
export COOKIE_KEY="webmakerlogin"

# A domain for webmaker super cookies
# You should only set this when running in a non-localhost environment
export COOKIE_DOMAIN=""

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false

# MakeDrive WebSocket URL
export MAKEDRIVE_SOCKET_URL="ws://localhost:9090"
